@use 'variables' as a;

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__column2 {
    grid-column: 1 / span 2;
  }
}

.ml {
  margin-left: a.$m-5;
  &__2 {
    margin-left: calc(2 * a.$m-5);
  }
}

.mt {
  margin-top: calc(a.$m-5 / 2);
  &__2 {
    margin-top: a.$m-5;
  }
}

@media screen and (max-width: 1200px) {
  .mt {
    margin-top: 0;
    &__2 {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 765px) {
  .grid {
    grid-template-columns: 1fr;
    &__column2 {
      grid-column: 1;
    }
  }
  .ml {
    margin-left: 0;
    &__2 {
      margin-left: 0;
    }
  }
}

